<!DOCTYPE html>
<html>

	<head>
		<meta charset=utf-8>
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>加载中</title>
		<script src=/js/rem.js></script>
		<script src=//res.wx.qq.com/open/js/jweixin-1.2.0.js></script>
		<script src=https://as.alipayobjects.com/g/component/antbridge/1.1.1/antbridge.min.js></script>
		<link href=/css/app.de982ee74f6b31216111aabe2b04692d.css rel=stylesheet>
	</head>

	<body>
		<div id=app></div>
		<script type=text/javascript src=/js/manifest.900030c09846c5de4230.js></script>
		<script type=text/javascript src=/js/vendor.861a6ab9e88d1a89da21.js></script>
		<script type=text/javascript src=/js/app.6d794c698a958482cd04.js></script>
	</body>

</html>