<!DOCTYPE html>
<html>

	<head>
		<meta charset=utf-8>
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>加载中</title>
		<script src=/js/rem.js></script>
		<script src="//webapi.amap.com/maps?v=1.3&key={$gaode_web_key}"></script>
		<script src="//api.map.baidu.com/api?v=2.0&ak={$baidu_web_ak}&s=1"></script>
		<script src=//res.wx.qq.com/open/js/jweixin-1.2.0.js></script>
		<script src=https://as.alipayobjects.com/g/component/antbridge/1.1.1/antbridge.min.js></script>
		<link href=/css/app.b2a8086c6c7580da7c434e19bd141dd1.css rel=stylesheet>
	</head>

	<body>
		<div id=app></div>
		<script type=text/javascript src=/js/manifest.73897781f74d2928515c.js></script>
		<script type=text/javascript src=/js/vendor.2f28c7dcf75110498fbf.js></script>
		<script type=text/javascript src=/js/app.a907b5e53f470a341e23.js></script>
	</body>

</html>