<!DOCTYPE html>
<html>

	<head>
		<meta charset=utf-8>
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>加载中</title>
		<script src=/js/rem.js></script>
		<script src=//res.wx.qq.com/open/js/jweixin-1.2.0.js></script>
		<script src=https://as.alipayobjects.com/g/component/antbridge/1.1.1/antbridge.min.js></script>
		<link href=/css/app.49a3e2a2513b21477b38c536aa21eae0.css rel=stylesheet>
	</head>

	<body>
		<div id=app></div>
		<script type=text/javascript src=/js/manifest.5f0dabbd7c0095f6b92f.js></script>
		<script type=text/javascript src=/js/vendor.7b2ef23887fa4a969448.js></script>
		<script type=text/javascript src=/js/app.6f4a260a649979ca5633.js></script>
	</body>

</html>