<div class="login-bg" style="width:100%;height:100%;position:absolute;">
    <div class="login">
        <div class="message">大地走红-管理员登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" action="/cp/login/save">
            <input name="adminname" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">

			<hr class="hr15">
			<div>
				<input id="captcha" name="captcha" type="text" placeholder="验证码">
				<img src="{:captcha_src()}" alt="captcha"  onclick="this.src='/captcha'" />
			</div>
			<hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
			<div class="new-user-login"><a href="/cp/login/create">新用户注册</a></div>
        </form>
    </div>

</div>
{include file="common/footer" /}
