<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <meta name="format-detection" content="telephone=no" />
    <title>{$Think.DEFAULT_TITLE}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/maintain.css?v={:time()}" type="text/css">
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<ul class="shop-station-replace">
    <li><h4>换机详情</h4></li>
    {if condition="$shopStationInfo"}
    <li><span>当前机器编号:</span><em>{$stationInfo['id']}</em></li>
    <li class="modify-style"><span>当前商铺名称:</span><em>{$shopInfo['name']}</em></li>
    <li class="modify-style"><span>当前商铺站点名称:</span><em>{$shopStationInfo['title']}</em></li>
    <li><span>新机器编号：</span><input type="number" id="stationid" /></li>
    <li><input type="button" name="replace" value="确认更换" onclick="replaceShopStation()"></li>
    {else /}
    <li class="no-unbind">当前机器还未绑定商铺站点</li>
    <li><input type="button" value="关闭页面" onclick="wxApiCloseWindow()"></li>
    {/if}
</ul>
<script>
    function replaceShopStation() {
        var new_station_id = $('#stationid').val();
        if(new_station_id) {
            if(confirm("确定换机？")) {
                var url = '{$Request.url}';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'new_station_id' : new_station_id
                    },
                    success:function(e) {
                        if(e.code == 0){
                            alert("换机成功！");
                            wxApiCloseWindow();
                        }else{
                            alert(e.msg);
                        }
                    },
                    fail:function(e) {
                        alert("服务器有异常，请稍后再试");
                    }
                })
            }
        }
    }

    //关闭微信页面
    function wxApiCloseWindow() {
        WeixinJSBridge.invoke('closeWindow',{},function(res){
            if(res.err_msg == "close_window:error") {
                alert("关闭微信网页错误，请稍后重试，谢谢");
            }
        });
    }
</script>
</body></html>